body {
  background: #0d3880;
  padding: 0 20px !important;
}
.App {
  text-align: center;
  padding-bottom: 2em;
  height: 100%;
}

.App-logo {
  width: 100%;
  max-width: 425px;
}

.App-header {
  padding: 0.5em 2em;
  margin-bottom: 5em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* This is the markdown element */
article,
aside {
  text-align: left;
  color: black;
  background: white;
  padding: 15px;
}
article {
  margin-top: 40px;
}

pre {
  background: #f6f8fa;
  padding: 16px;
}
