body {
  background: #0d3880;
}
.App {
  text-align: center;
  padding-bottom: 2em;
  height: 100%;
}

.App-logo {
  width: 100%;
  max-width: 425px;
}

.App-header {
  padding: 0.5em 2em;
  margin-bottom: 5em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
